/* Use this class for component styles like Navbar, Footer, Buttons... */

/* app.css */

/* Center the main content */
.App {
    text-align: center;
}

/* Navbar styles */
.navbar {
    background: linear-gradient(to right,#61667f,#353a50);
    color: white;
    position: static;
    top: 0;
    width: 100%;
    padding: 0px 0;
    z-index: 1000; /* Ensures it stays above other content */
}

/* Container for content */
.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
    text-align: center;
    color: white;
    background-size: cover;
    background-position: top;
}


/* Logo styling */
.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

    .nav-links li {
        display: inline;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 8px 13px;
        border-radius: 7px;
        transition: 0.3s;
    }

        .nav-links a:hover {
            background: #83a0ec;
            border-radius: 12px;
        }

/* Footer styles */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
}

.footercontainer {
    width: 80%;
    height: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Button styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover {
        background-color: #0056b3;
    }

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}

.flex-container {
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    align-items: center; /* Centers content vertically (if needed) */
}

