/* Use this class for global styles like backgrounds, fonts and layouts... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.title {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: clamp(4rem, 8vw, 6rem);
    margin-top: 8REM;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

:root {
    --primary-color: #3498db; /* Blue */
    --dark-grey: #222;
    --light-grey: #c7c7c7;
    --dark-blue: #000048;
    --medium-dark-blue: #0c2068;
    --medium-blue: #184088;
}

/* Center content */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
